<div class="app-root_app-rootMia">
<div class="app-root_title">
  {{title}}
</div>
  <br>
  <div class="app-root app-root_app-rootMia">
    <div class="app-root app-root_app-rootMia">
      <div class="app-root_container-inputs">
        <div class="form-group mr-2">
          <input type="text" class="form-control app-root_border" [(ngModel)]="textField" placeholder="Id del empleado">
        </div>
        <button class="btn btn-primary app-root_app-button-search-one" (click)="submitData()">Buscar</button>
        <button class="btn btn-primary app-root_app-button-search-all" (click)="getAllEmployee()">Traer Todos los empleados</button>
      </div>
    </div>
  </div>


  <p>Datos de los empleados.</p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">Salario</th>
      <th scope="col">Años</th>
      <th scope="col">Salario al año</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of allData;">
      <td>
        {{ data.id }}
      </td>
      <td>
        {{ data.employee_name }}
      </td>
      <td>
        {{ data.employee_salary | number }}
      </td>
      <td>
        {{ data.employee_age | number }}
      </td>
      <td>
        {{data.employee_salary*12}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
