<div class="app-rootMia">

  {{title}}
  <br>
  <input class="app-root__hola" type="text" [(ngModel)]="textField" />
  <button type="button" (click)="submitData()" >Buscar</button>
  <button type="button" (click)="getAllEmployee()" >Traer Todos los empleados</button>
  <p>Datos de los empleados.</p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">Salario</th>
      <th scope="col">Años</th>
      <th scope="col">Salario al año</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of allData;">
      <td>
        {{ data.id }}
      </td>
      <td>
        {{ data.employee_name }}
      </td>
      <td>
        {{ data.employee_salary | number }}
      </td>
      <td>
        {{ data.employee_age | number }}
      </td>
      <td>
        {{data.employee_salary*12}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
